
p{
   font-family: Arial;
   margin-top: 0px;
}
.video-titel {
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}
.views {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgb(96, 96, 96);
}
.auther {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgb(96, 96, 96);
}
.descreb {
  font-size: 14px;
  width: 280px;
  margin-bottom: 20px;
  color: rgb(96, 96, 96);
  line-height: 22px;
}
.apple{
  background-color: rgb(227, 65, 64);
  padding: 18px;
  color: white;
  font-size: 14px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0;
}
.shop:hover {
  text-decoration: underline;
  cursor: pointer ;
}
